body {
  background-color: #EFEFEF;
}

h1 {
  color: #7882A4;
  font-family: verdana;
}

h3 {
  color: #C0A080;
  font-family: verdana;
}

h2 {

  color: #C0A080 ;
  font-family: verdana;
}

p {
  color: #7882A4;
  font-family: verdana;
}
table {

  color: #7882A4;
  font-family: verdana;
}
